.motdMenu {
    position: absolute;
    width: 600px;
    width: 400px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: all;
    backdrop-filter: blur( 10px );
    background-color: rgba(30, 30, 30, 0.8);
    justify-content: center;
    align-items: center;
    font-family: Roboto;

    &.open {
        opacity: 1;
    }

    .menu {
        width: 60%;
        height: 60%;
        background-color: rgb(33, 33, 33);
        box-shadow: 0 0 5px black;
    }
}
