.healthBg {
    position: absolute;
    left: 50px;
    bottom: 50px;
    padding: 5px;
    background-color: #323232;
    box-shadow: 0 0 5px black;
}

.healthIconBg {
    margin-right: 5px;
    align-items: center;
}

.healthIcon {
    color: #962e23;
    text-shadow: 0 0 1px black;
    font-family: MaterialIcons;
    font-size: 17px;
}

.healthBarBg {
    width: 250px;
    background-color: #212121;
}

.healthBar {
    background-color: #962e23;
}

.healthText {
    margin-left: 10px;
    margin-right: 5px;
    color: #962e23;
    text-shadow: 0 0 1px black;
    font-weight: bold;
}